n8n/book-create.json
{
  "name": "Book a Call — Create",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "book-create",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "node-create-webhook",
      "name": "Webhook - Create Booking",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 300],
      "webhookId": "book-create"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const item = $input.first().json;\nconst { name, email, phone, company, service, message, date, time } = item;\n\nfunction getAmsterdamOffsetMs(date) {\n  const parse = s => new Date(s.replace(',', '') + ':00Z').getTime();\n  const amStr = date.toLocaleString('en-CA', { timeZone: 'Europe/Amsterdam', hour12: false, year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit' });\n  const utcStr = date.toLocaleString('en-CA', { timeZone: 'UTC', hour12: false, year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit' });\n  return parse(amStr) - parse(utcStr);\n}\n\nconst [year, month, day] = date.split('-').map(Number);\nconst [hour, minute] = time.split(':').map(Number);\nconst pad = n => String(n).padStart(2, '0');\nconst localUTC = new Date(`${year}-${pad(month)}-${pad(day)}T${pad(hour)}:${pad(minute)}:00Z`);\nconst offsetMs = getAmsterdamOffsetMs(localUTC);\nconst startUtc = new Date(localUTC.getTime() - offsetMs);\nconst endUtc = new Date(startUtc.getTime() + 30 * 60 * 1000);\n\nconst dutchDate = new Date(date + 'T12:00:00Z').toLocaleDateString('nl-NL', {\n  weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', timeZone: 'Europe/Amsterdam'\n});\nconst formattedDateTime = `${dutchDate} om ${time}`;\n\nconst description = [\n  `Discovery Call met ${name} van ${company}`,\n  '',\n  `Naam: ${name}`,\n  `E-mail: ${email}`,\n  `Telefoon: ${phone || 'niet opgegeven'}`,\n  `Bedrijf: ${company}`,\n  `Dienst: ${service}`,\n  '',\n  'Vraag / project:',\n  message || '(geen bericht)',\n].join('\\n');\n\nreturn [{\n  json: {\n    name, email, phone, company, service, message, date, time,\n    startIso: startUtc.toISOString(),\n    endIso: endUtc.toISOString(),\n    formattedDateTime,\n    description,\n    eventBody: {\n      summary: `Discovery Call – ${name} (${company})`,\n      description,\n      start: { dateTime: startUtc.toISOString(), timeZone: 'Europe/Amsterdam' },\n      end: { dateTime: endUtc.toISOString(), timeZone: 'Europe/Amsterdam' },\n      attendees: [{ email }],\n      conferenceData: {\n        createRequest: {\n          requestId: `runvex-${Date.now()}`,\n          conferenceSolutionKey: { type: 'hangoutsMeet' }\n        }\n      }\n    }\n  }\n}];"
      },
      "id": "node-prepare-event",
      "name": "Code - Prepare Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ \"https://www.googleapis.com/calendar/v3/calendars/\" + encodeURIComponent($env.GOOGLE_CALENDAR_ID) + \"/events?conferenceDataVersion=1\" }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleCalendarOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($('Code - Prepare Event').first().json.eventBody) }}",
        "options": {}
      },
      "id": "node-create-event",
      "name": "HTTP Request - Create Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.RESEND_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ from: $env.BEDRIJF_EMAIL, to: $('Webhook - Create Booking').first().json.email, subject: \"Bevestiging: Discovery Call op \" + $('Code - Prepare Event').first().json.formattedDateTime, html: \"<div style=\\\"font-family:sans-serif;max-width:560px;margin:0 auto;color:#1a1a1a\\\"><h2 style=\\\"color:#5B6EF5\\\">Jouw call is ingepland! ✅</h2><p>Hoi \" + $('Code - Prepare Event').first().json.name + \",</p><p>Bedankt voor het inplannen van een discovery call met Runvex. We kijken ernaar uit!</p><div style=\\\"background:#f5f5f5;border-radius:8px;padding:16px;margin:24px 0\\\"><p style=\\\"margin:0 0 8px\\\"><strong>Datum &amp; tijd:</strong> \" + $('Code - Prepare Event').first().json.formattedDateTime + \"</p><p style=\\\"margin:0 0 8px\\\"><strong>Bedrijf:</strong> \" + $('Code - Prepare Event').first().json.company + \"</p><p style=\\\"margin:0 0 8px\\\"><strong>Dienst:</strong> \" + $('Code - Prepare Event').first().json.service + \"</p></div><p style=\\\"color:#888;font-size:13px\\\">Tot snel,<br/>Team Runvex</p></div>\" }) }}",
        "options": {}
      },
      "id": "node-email-client",
      "name": "HTTP Request - Email Client",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [920, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.RESEND_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ from: $env.BEDRIJF_EMAIL, to: $env.MY_EMAIL, subject: \"Nieuwe boeking: \" + $('Code - Prepare Event').first().json.name + \" – \" + $('Code - Prepare Event').first().json.formattedDateTime, html: \"<div style=\\\"font-family:sans-serif;max-width:560px;margin:0 auto;color:#1a1a1a\\\"><h2 style=\\\"color:#5B6EF5\\\">Nieuwe discovery call ingepland</h2><div style=\\\"background:#f5f5f5;border-radius:8px;padding:16px;margin:24px 0\\\"><p style=\\\"margin:0 0 8px\\\"><strong>Naam:</strong> \" + $('Code - Prepare Event').first().json.name + \"</p><p style=\\\"margin:0 0 8px\\\"><strong>E-mail:</strong> \" + $('Code - Prepare Event').first().json.email + \"</p><p style=\\\"margin:0 0 8px\\\"><strong>Telefoon:</strong> \" + $('Code - Prepare Event').first().json.phone + \"</p><p style=\\\"margin:0 0 8px\\\"><strong>Bedrijf:</strong> \" + $('Code - Prepare Event').first().json.company + \"</p><p style=\\\"margin:0 0 8px\\\"><strong>Dienst:</strong> \" + $('Code - Prepare Event').first().json.service + \"</p><p style=\\\"margin:0 0 8px\\\"><strong>Datum &amp; tijd:</strong> \" + $('Code - Prepare Event').first().json.formattedDateTime + \"</p></div><p><strong>Vraag / project:</strong></p><p style=\\\"background:#f5f5f5;padding:12px;border-radius:6px\\\">\" + $('Code - Prepare Event').first().json.message + \"</p></div>\" }) }}",
        "options": {}
      },
      "id": "node-email-owner",
      "name": "HTTP Request - Email Owner",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1140, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, eventId: $('HTTP Request - Create Event').first().json.id }) }}",
        "options": {}
      },
      "id": "node-respond-create",
      "name": "Respond - Create",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1360, 300]
    }
  ],
  "connections": {
    "Webhook - Create Booking": {
      "main": [[{ "node": "Code - Prepare Event", "type": "main", "index": 0 }]]
    },
    "Code - Prepare Event": {
      "main": [[{ "node": "HTTP Request - Create Event", "type": "main", "index": 0 }]]
    },
    "HTTP Request - Create Event": {
      "main": [[{ "node": "HTTP Request - Email Client", "type": "main", "index": 0 }]]
    },
    "HTTP Request - Email Client": {
      "main": [[{ "node": "HTTP Request - Email Owner", "type": "main", "index": 0 }]]
    },
    "HTTP Request - Email Owner": {
      "main": [[{ "node": "Respond - Create", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": ["booking", "google-calendar", "resend"],
  "versionId": "1"
}
